html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden
}

body {
  margin: 0;
  font-family: "VolvoNovum", sans-serif, "Arial Narrow", "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #3e4855;
  -webkit-font-smoothing: antialiased
}

#wrapper {
  position: relative;
  min-width: 850px;
  overflow: hidden
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  font-size: 16px;
  transition: top .3s;
  z-index: 100000
}

#skip-nav:focus {
  top: 0
}

.float--left {
  float: left
}

.float--right {
  float: right
}

.right-arrow-svg-white {
  position: relative;
  margin-left: 8px;
  stroke: #fff
}

.right-arrow-svg-black {
  stroke: #1c6bba
}

#wrapper.dropDown,
#wrapper.open {
  height: 100vh
}

#wrapper.dropDown::after,
#wrapper.open::after {
  content: '';
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7)
}

#wrapper.open>#header::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, .7)
}

#header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background: #fafafa;
  z-index: 2
}

#header .inner {
  position: relative;
  width: 100%;
  height: 64px;
  padding-right: 16px
}

#header a.logo {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 8px;
  width: 114px;
  height: 48px;
  box-sizing: border-box;
  margin-left: 16px
}

#header a.logo img,
#quick-link>ul.side-logo-box>li>a.side-logo>img {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  width: 98px;
  height: 8px
}

#header .gnb,
#header .toggle {
  position: absolute;
  top: 50%;
  height: 40px;
  transform: translate(-100%, -50%)
}

#header .gnb {
  left: calc(100% - 80px);
  width: 57.91px;
  padding: 0 8px
}

#header>.inner>div.gnb:hover>a::before {
  content: '';
  clear: both;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
  height: 1px;
  background: #000
}

i[class^="fa"] span {
  position: absolute;
  left: -9999px;
}

#header .gnb .ourCars-open,
#header .toggle em,
#quick-link>ul.sns-container>div.sns-icon>li a>i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #141414;
}

#header .gnb .ourCars-open span {
  color: #141414;
  font-size: 14px;
  font-weight: 400;
  text-indent: -9999px;
}

#header .toggle {
  left: calc(100% - 36px);
  width: 40px;
  text-indent: -9999px;
}

#header .toggle:hover {
  background: #ebebeb;
  border-radius: 4px;
}

#header .toggle em {
  width: 24px;
  height: 24px;
}

#header .toggle em::before {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  transform: translate(0, -20%);
  width: 22px;
  height: 1px;
  background: #000;
  border-radius: 10px;
}

#header .toggle em span,
#header .toggle em::after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 18px;
  height: 1px;
  background: #000;
}

#header .toggle em::after {
  content: '';
  top: 80%;
  transform: translate(0, -80%);
  width: 20px;
}

#quick-link {
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  overflow: auto;
  transition: right .5s;
}

#wrapper.open #quick-link {
  right: 0;
}

#quick-link>ul.side-logo-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

#quick-link>ul.side-logo-box>li {
  position: absolute;
  display: flex;
  width: 100%;
}

#quick-link>ul.side-logo-box>li>a.side-logo {
  display: block;
  width: 332px;
  line-height: 64px;
}

#quick-link>ul.side-logo-box>li>a.side-logo>img {
  width: 86px;
  height: 7px;
  margin-left: 18px
}

#quick-link>ul.side-logo-box>li>.space-box {
  display: block;
  width: 8px
}

#quick-link>ul>li>.side-toggle-container:hover {
  background: #ebebeb
}

#quick-link>ul>li>.side-toggle-container>.side-toggle>svg.close-toggle-btn,
.ourCars-toggle-container>.ourCars-toggle>svg.close-toggle-btn {
  width: 24px;
  height: 24px;
  transform-origin: center;
  transform: rotate(0deg)
}

#quick-link>ul>li>.side-toggle-container>.side-toggle>em,
.ourCars-toggle-container>.ourCars-toggle>em {
  position: absolute;
  display: block;
  text-indent: -9999px
}

#quick-link>ul.start-menu {
  display: block
}

#quick-link>ul.start-menu>li>a {
  position: relative;
  display: block;
  line-height: 48px;
  padding: 0 24px;
  color: #141414;
  font-size: 20px;
  font-weight: 400
}

#quick-link>ul>li>.language-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  margin: 16px 0 1px;
  font-size: 14px;
  font-weight: 300;
  color: #707070;
  align-items: center
}

#quick-link>ul>li>.language-container>a.language {
  display: flex;
  margin: 0 24px;
  width: 400px;
  height: 48px;
  box-sizing: border-box;
  align-items: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb
}

#quick-link>ul.start-menu>li>a:hover {
  background: #fafafa
}

#quick-link>ul>li a>.right-arrow,
#quick-link>ul>li a>.right-arrow>svg {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  box-sizing: border-box
}

#quick-link>ul>li a>.right-arrow {
  display: inline-block;
  left: calc(100% - 24px)
}

#quick-link>ul>li a>.right-arrow>svg {
  left: 100%;
  width: 24px;
  height: 24px
}

#quick-link>ul.sns-container {
  margin: 24px 24px 40px
}

#quick-link>ul.sns-container>div.sns-icon {
  display: flex;
  margin: 0 0 8px -16px
}

#quick-link>ul.sns-container>div.sns-icon>li a {
  position: relative;
  display: block;
  width: 56px;
  height: 56px
}

#quick-link>ul.sns-container>div.sns-icon>li a>i {
  font-size: 24px
}

#ourCars,
.ourcars-container {
  height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out
}

#ourCars {
  position: absolute;
  display: block;
  background: 0 0;
  width: 100vw;
  top: -1080px;
  opacity: 0;
  z-index: 1
}

#ourCars.show-drop {
  top: 64px;
  height: 100vw;
  opacity: 1;
  transition: all .5s ease-in-out;
  z-index: 1
}

.ourcars-container {
  background: #fff;
  padding: 24px 0 0 60px;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  transition-delay: .5s
}

#ourCars.show-drop>.ourcars-container {
  display: flex;
  height: 80vh;
  opacity: 1;
  transition: all .5s ease-in-out
}

#ourCars>.ourcars-container>.ourcars-menu-container {
  display: flex;
  max-width: 225px;
  width: 100%;
  height: 70vh;
  padding-right: 24px;
  color: #141414;
  flex-shrink: 1;
  box-sizing: border-box
}

#ourCars>.ourcars-container>.ourcars-menu-container>.ourcars-menu-items-master {
  border-right: 1px solid #ebebeb;
  flex-shrink: 1
}

#ourCars>.ourcars-container>.ourcars-menu-container>.ourcars-menu-items-master>.space-box {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  flex-shrink: 1
}

.ourcars-menu-items {
  display: flex;
  width: 12vw;
  height: 64px;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  color: #707070;
  background: 0 0;
  border: 0;
  cursor: pointer
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}

.menu1 {
  color: #141414;
}

.ourcars-menu-items h2 {
  font-size: 20px;
  max-height: 28px;
  height: 100%;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  display: block
}

.ourcars-menu-items span {
  display: block;
  font-size: 12px;
  font-weight: 200;
  max-height: 20px;
  height: 100%
}

.ourcars-list-items-pluginSuv {
  max-width: 912px;
  display: block
}

#ourCars>.ourcars-container>.ourcars-list-container {
  position: relative;
  display: flex;
  opacity: 1;
  padding: 0 12px;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

#ourCars>.ourcars-container>.ourcars-list-container#mild {
  display: none
}

#ourCars>.ourcars-container>.ourcars-list-container.show-drop {
  display: none;
  opacity: 1
}

#ourCars>.ourcars-container>.ourcars-list-container>.ourcars-list-items {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;
  padding: 0 0 0 24px
}

#ourCars>.ourcars-container>.ourcars-list-container>.ourcars-list-items>.pluginSuv {
  display: block;
  max-height: 46px
}

#ourCars>.ourcars-container>.ourcars-list-container>.ourcars-list-items h3 {
  display: block;
  margin: 0 24px;
  padding: 12px 0;
  letter-spacing: .04em;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  color: #1c6bba
}

.img-master {
  width: 100%;
  display: flex
}

.img-container-box {
  box-sizing: border-box;
  overflow: hidden
}

.img-container-box,
.mildHybrid-img-container {
  display: flex;
  padding: 16px 0 24px;
  max-width: 210px;
  width: 210px;
  max-height: 176px;
  height: 100%
}

.img-container-box:hover {
  border-radius: 4px;
  background: #f8f9fa
}

.img-container-box:nth-child(1) {
  display: inline-block
}

.img-container-box .ourCars-info {
  margin: 0 24px;
  color: #141414
}

.img-container-box .ourCars-info h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal
}

.img-container-box .ourCars-info span {
  font-size: 12px;
  font-weight: 200
}

.img-container {
  position: relative;
  display: block;
  margin: 16px;
  height: 56px
}

.img-items {
  max-height: 56px
}

.ourcars-list-items-mildHybridSuv {
  max-width: 912px;
  display: block
}

.ourcars-list-items-mildHybridCrossCountry,
.ourcars-list-items-mildHybridSedan {
  display: block
}

.ourCars-toggle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  z-index: 1000000;
  left: calc(100% - 60px)
}

.ourCars-toggle-container:hover {
  background: #ebebeb
}

.ourcars-list-items-pluginSedan {
  display: block
}

#ourCars-window-close {
  position: absolute;
  left: 0;
  border: 0;
  display: block;
  background: 0 0;
  width: 100%;
  height: 20vh;
  text-indent: -9999px;
  cursor: pointer
}

#mild {
  display: none
}

#main,
.content1,
.content2 {
  position: relative;
  width: 100%;
  height: 100%
}

#main {
  display: block;
  top: 64px
}

#main section.visual {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 106.24px
}

#main section.visual .visual-img {
  background: url(../img/moment-4-promotional-hero-2560x1440.jpg) center center no-repeat;
  background-size: cover;
  height: 584px
}

#main section.visual>div.content {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  height: 344px;
  padding: 64px 80px 176px;
  color: #fff;
  text-align: center
}

#main section.visual>div.content>em {
  font-size: 20px;
  line-height: 1.4;
  display: block;
  margin: 8px 0;
  font-style: normal;
  font-weight: 400
}

#main section.visual>div.content>p,
.img-content-title>.title-box-main>h3 {
  font-family: "VolvoBroad", Arial Black, sans-serif;
  font-size: 72px;
  line-height: 1;
  letter-spacing: .02em
}

#main section.visual>div.content>div.other-button {
  display: block;
  margin-top: 12px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 700
}

#main section.visual>div.content>div.other-button>a {
  letter-spacing: .02em
}

#main section.visual>div.content>div.other-button>a:hover {
  color: #a3a3a3
}

#main section.visual>div.content>div.other-button>a:hover>.right-arrow-svg-white {
  stroke: #a3a3a3
}

#main section.visual>div.content>div.other-button>a>span {
  display: block;
  text-indent: -9999px
}

#main section.visual>div.content>div.other-button>a>span>em {
  margin: 0 0 0 8px
}

#main section.text-visual {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 53.12px;
  box-sizing: border-box
}

#main section.model-visual div.model-visual-inner,
#main section.text-visual div.text-visual-content {
  position: relative;
  max-width: 1280px;
  margin: 0 auto
}

#main section.text-visual div.text-visual-content>p {
  display: block;
  margin: 0 auto;
  max-width: 708.9px;
  padding: 16px 0;
  color: #707070;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 1.125
}

#main section.text-visual div.text-visual-content>p>em,
.img-content>.img-content-info>.img-info>a:hover,
.indicator-footer>a:hover,
.model-list-footer a:hover {
  color: #141414
}

#main section.model-visual {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 106.24px
}

#main section.model-visual div.model-visual-inner div.model-visual-title {
  position: relative;
  max-width: 604.2px;
  margin: 0 auto;
  width: 100%;
  height: 92px;
  text-align: center
}

#main section.model-visual div.model-visual-inner div.model-visual-title>h2 {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 500;
  color: #141414
}

#indicator-container,
#main section.model-visual div.model-visual-inner div.model-visual-content,
.img-content>.img-content-info>.img-info,
.model-list-indicator>li>.indicator-footer {
  display: flex;
  justify-content: center
}

#main section.model-visual div.model-visual-inner div.model-visual-content>div.img-content {
  position: relative;
  display: block;
  width: 604px;
  height: 100%;
  margin: 0 12px
}

.content1,
.content2 {
  left: 0;
  top: 0;
  background-size: cover
}

.content1 {
  background: url(../img/s90-recharge-desktop-4x3.jpg) center center no-repeat
}

.content2 {
  background: url(../img/xc90-recharge-desktop-4x3.jpg) center center no-repeat
}

#main section.model-visual div.model-visual-inner div.model-visual-content>div.img-content>a>.img-content-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  padding-top: 48px
}

.img-content-title {
  position: absolute;
  width: 100%;
  padding: 48px 0 0;
  color: #fff;
  z-index: 1
}

.img-content-title>.title-box-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 16px
}

.img-content-title>.title-box-header>em {
  line-height: 1.5714285714285714;
  font-size: .875rem;
  font-weight: 400
}

.img-content-title>.title-box-main {
  display: flex;
  justify-content: center;
  padding: 0 16px 16px
}

.img-content-title>.title-box-main>h3 {
  font-weight: 400;
  font-size: 40px
}

.img-content-title>.title-box-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  letter-spacing: .02em;
  line-height: 1
}

.img-content-title>.title-box-footer>span {
  font-weight: 300;
  font-size: .75rem;
  line-height: 1.6666666666666667
}

.img-content-title>.title-box-footer>span>em,
.indicator-header>em {
  letter-spacing: .02em;
  font-weight: 400
}

.img-content>.img-content-info {
  display: block;
  margin: 20px 0 64px
}

.img-content>.img-content-info>.img-info>a,
.indicator-footer>a {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1c6bba
}

.img-content>.img-content-info>.img-info>a:hover>.right-arrow-svg-black,
.indicator-footer>a:hover>.right-arrow-svg-black,
.model-list-footer a:hover>.right-arrow-svg-black {
  stroke: #141414
}

.model-list-visual {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 106.24px
}

.model-list-visual .model-list-inner {
  max-width: 1280px;
  margin: 0 auto
}

.model-list-visual .model-list-inner>.model-list-header {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 48px
}

.info-inner .info-title h2,
.model-list-header>h2 {
  color: #141414;
  font-size: 32px;
  font-weight: 400
}

#indicator-container>p.control {
  display: flex;
  max-width: 1280px;
  margin: 0 auto
}

#indicator-container>p.control,
#indicator-container>p.control>a {
  position: absolute;
  justify-content: center
}

.indicator-header>em {
  display: block;
  color: #707070;
  font-size: 12px;
  line-height: 1.6666666666666667
}

.indicator-header>h3 {
  display: block;
  font-size: 16px;
  margin: 0 0 4px
}

.indicator-header>h3>em {
  color: #141414;
  margin: 0 5px 0 0;
  font-weight: 400
}

.indicator-header>h3>span {
  color: #707070;
  font-weight: 300
}

#footer-inner .footer-inner-body>span,
#footer-inner .footer-inner-footer>span,
.indicator-header>span,
.info-body-box>span {
  font-size: 12px;
  font-weight: 300;
  color: #707070
}

.indicator-header>span>em {
  font-weight: 400
}

.model-list-indicator li {
  display: inline-block;
  padding: 0 12px
}

.indicator-img {
  object-fit: cover;
  width: 290px;
  height: 218px;
  margin: 16px 0
}

.model-list-indicator {
  display: flex
}

.indicator-footer {
  padding: 0 0 16px
}

.indicator-footer>a {
  padding: 12px 0;
  font-weight: 600
}

.indicator-footer>a+a {
  margin: 0 0 0 24px
}

.model-list-footer {
  display: flex;
  justify-content: center;
  color: #1c6bba;
  font-size: 14px;
  font-weight: 400;
  margin: 16px 0 0
}

.model-list-footer a {
  padding: 12px 0;
  letter-spacing: .02em;
  -webkit-font-smoothing: auto
}

.model-list-footer>a+a {
  margin: 0 0 0 32px;
  font-weight: 500
}

.volvo-info {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 106.24px;
  background: #fafafa
}

.info-inner {
  max-width: 1280px;
  margin: 0 auto
}

.info-inner .info-title {
  display: flex;
  justify-content: center;
  margin: 0 0 56px
}

.info-img {
  background: url(../img/homepage-whyvolvo-desktop-16x9.jpg)center center no-repeat;
  background-size: cover;
  height: 100vh;
  text-indent: -9999px;
  margin-bottom: 16px
}

.info-inner>.info-body {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  flex-shrink: 1
}

.info-body-box+.info-body-box {
  margin-left: 24px
}

.info-body-box>h3 {
  font-size: 20px;
  font-weight: 400;
  color: #141414;
  margin-bottom: 8px;
  line-height: 1.4
}

.info-body-box>span {
  font-size: 16px;
  line-height: 1.5
}

.info-inner>.info-button-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 106.24px
}

.info-inner>.info-button-container>a>.info-button {
  border: 1px solid #1c6bba;
  border-radius: 4px;
  padding: 12px 24px;
  color: #1c6bba;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-in-out
}

.info-inner>.info-button-container>a>.info-button:hover {
  border-color: #284e80;
  background: #284e80;
  color: #fff
}

.volvo-cars {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 106.24px
}

.cars-inner,
.link-cars {
  position: relative;
  margin: 0 auto
}

.cars-inner {
  max-width: 1280px;
  width: 100%
}

.cars-inner .cars {
  padding: 0 24px
}

.cars-inner>.cars>img {
  width: 100%;
  height: 513px
}

.cars-info a,
.cars>.cars-info {
  display: block;
  box-sizing: border-box
}

.cars>.cars-info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 40px 56px;
  margin: 0 24px;
  height: 513px
}

.cars>.cars-info>.cars-container {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.cars-info .cars-info-header {
  display: block;
  top: 50%;
  margin-bottom: 24px
}

.cars-info .cars-info-header>h2 {
  font-size: 32px;
  font-weight: 400;
  color: #fff
}

.cars-info .cars-info-body {
  display: block;
  margin-bottom: 40px
}

.cars-info .cars-info-body>p {
  font-size: 16px;
  color: #fff
}

.cars-info .cars-info-body>p>span,
.cars-news>p {
  font-weight: 300;
  color: #fff
}

.cars-info a {
  background: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  border: solid 1px #000;
  font-size: 14px;
  transition: all 100ms, 300ms ease-out
}

.cars-info a>div.cars-button {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 22px
}

.link-cars {
  max-width: 1232px;
  padding: 106.24px 0 53.12px
}

.link-cars .link-cars-container {
  padding: 0 24px;
  box-sizing: border-box
}

.link-cars .link-cars-container>h2 {
  text-align: center;
  padding-bottom: 34px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #141414
}

.link-cars .link-cars-container .flex-box {
  display: flex;
  box-sizing: border-box;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 480px;
  max-width: 700px;
  flex-grow: 1;
  flex-flow: wrap;
  flex-shrink: 1
}

.link-cars .link-cars-container div.item {
  width: 264px
}

.link-cars .link-cars-container .cars-box {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 16px;
  color: #1c6bba;
  margin: 0 24px 0 0;
  padding: 24px 0;
  width: 288px
}

.link-cars .link-cars-container .link-list1,
.link-cars .link-cars-container .link-list2 {
  border-top: 1px solid #ebebeb
}

.link-cars .link-cars-container .link-list3,
.link-cars .link-cars-container .link-list4 {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb
}

.link-cars .link-cars-container .cars-box .right-arrow {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0 24px 0 0;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  transform: translate(0, -50%)
}

.link-cars .link-cars-container .cars-box .right-arrow svg {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 14px;
  height: 14px;
  fill: #707070;
  box-sizing: border-box
}

#footer,
.cars-news {
  position: relative;
  display: block
}

.cars-news {
  margin: 0 auto;
  text-align: center;
  padding: 106.24px 0;
  box-sizing: border-box
}

.cars-news>p {
  font-size: 12px;
  letter-spacing: .02em;
  color: #707070
}

#footer {
  padding: 24px 24px 32px;
  background: #fafafa
}

#footer-inner,
.cars-news>p {
  line-height: 1.6666666666666667
}

#footer-inner {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box
}

#footer-inner .footer-inner-body,
#footer-inner .footer-inner-footer,
#footer-inner .footer-inner-header {
  display: flex;
  justify-content: center;
  padding: 0 24px
}

#footer-inner .footer-inner-header>.footer-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 4px 8px 8px;
  padding: 4px 4px 0;
  font-size: 12px;
  font-weight: 300;
  color: #141414
}

#footer-inner .footer-inner-header>.footer-box:hover {
  color: #1c6bba
}

#footer-inner .footer-inner-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 0 0;
  text-align: center
}